h1{
    background-color: #de12a1;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p{
    background-color: green;
    font-style: italic;
    font-family: "comic sans";
}